.Button {
    background-color: white;
    box-shadow: 0 3px 5px #979696;
    font-size: 16px;
    font-weight: bold;
    border: none;
    margin: 6px
}

.Start {
    color: #447a2e;
    font-size: 32px;
}

.Stop {
    color: #9b2f2f;
    font-size: 32px;
}